{#
/**
 * @file
 * Theme override to display a node.
 *
 * 
 */
#}
{%
  set classes = [
    'hyperlinks__node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<a href="{{ content.field_link_url.0['#url'] }}" target="_blank" {{ attributes.addClass(classes) }}>

  <h2{{ title_attributes.addClass('hyperlinks_title') }}>
    {{ label }}
  </h2>

  <div{{ content_attributes.addClass('hyperlinks__url') }}>
    {{ content.field_link_url.0['#url'] }}
  </div>

</a>
