{#
/**
 * @file
 *
 * SCSS - _photoalbum.scss
 *
 * {{ url }}
 */
#}
{%
  set classes = [
    'node',
    'photoalbum__node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<a href="{{ url }}" {{ attributes.addClass(classes) }}>

  <div{{ content_attributes.addClass('photoalbum__img') }}>
    {{ content.field_photoalbum_img[0] }}
  </div>

  <div class="photoalbum__title">
    <h2{{ title_attributes.addClass('photoalbum__heading') }}>
      {{ label }}
    </h2>
  </div>

</a>
