{# 
/**
 * The footer region on the page--front.html.twig and page.html.twig

*/
#}

<footer class="footer">

  <div class="grid__container">
    <div class="grid__row">

      <div class="footer__inner">
      
      {# footer__one #}
        <div class="footer__one">
          <div class="nav--footer">
            {{ page.footer_menu }}
          </div>
        </div>
      {# footer__one end #}

      {# footer__two #}
        <div class="footer__two">
          <blockquote class="footer__quote">De belangrijkste doelstelling van de LOMC vzw is de belangen van haar 200-tal leden behartigen.</blockquote>
        </div>

      {# footer__two end #}

      {# footer__three #}
        <div class="footer__three">
          <div class="footer__member-of">
            <p>LOMC is lid van:</p>
            <img src="{{ base_path ~ directory }}/images/bfovfbva-logo.png" alt="BFOV-FBVA logo" />
          </div> 
        </div>
      {# footer__three end #}
          
      {# footer__four #}
        <div class="footer__four">
          <div class="footer__logo">
            <img src="{{ base_path ~ directory }}/images/logo.jpg" alt="LOMC logo" />
          </div>
        </div>
        {# footer__four end #}

      </div>    
      {# end footer__inner #}
    </div>
    {# end grid__row #}
  </div>
  {# end grid__container #}
</footer>

<footer class="footer__bottom">
  <div class="grid__container">
    <div class="grid__row">
      <div class="footer__copy">
        Copyright {{ "now"|date("Y") }} | LOMC | 
        <a href="{{ base_path}}lomc-clubreglement" class="link">Clubregelement</a>
        | <a href="{{ base_path}}privacy" class="link">Privacy</a>
      </div>
    </div>
  </div>
</div>