{# 
/**
 * The footer region on the page--front.html.twig and page.html.twig

*/
#}

<footer class="footer">
  <div class="grid__container">
    <div class="grid__row">

    <div class="footer__inner">
    
    <div class="footer__right">
        <div class="nav--footer">
          {{ page.footer_menu }}
        </div>
      </div>

      <div class="footer__left">
        <div class="footer__left-wrap">
          <div class="footer__logo">
            <img src="{{ base_path ~ directory }}/images/logo.jpg" alt="LOMC Logo" />
          </div>

          <div class="footer__copy">
            Copyright {{ "now"|date("Y") }} | LOMC | 
            <a href="{{ base_path}}lomc-clubreglement" class="link">Clubregelement</a>
            | <a href="{{ base_path}}privacy" class="link">Privacy</a>
          </div>
        </div>

      </div>
    
    </div>    

    </div>
  </div>
</footer>