{#
/**
 * SCSS .scss
 * use this only on mobile menu
 * desktop menu = Main navigation from Drupal
*/
#}

<li><a class="link" href="{{ path('<front>') }}">Home</a></li>

<li><a class="link" href="{{ base_path}}lomc-agenda">Agenda</a></li>
      
<li><a class="link" href="{{ base_path }}contact">Contact</a></li>

<li><a class="link" href="{{ base_path }}lomc-bestuursleden">Bestuur</a></li>
      
<li><a class="link" href="{{ base_path }}lomc-hyperlinks?field_tags_target_id=All">Linken</a></li>
      
<li><a class="link" href="{{ base_path }}lomc-fotos">Foto's</a></li>
      
<li><a class="link" href="{{ base_path }}webform/become_a_member">Lid worden</a></li>
