{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('profile') }}>
<div class="profile__wrap">
 {% if content %}
    <div class="profile__picture">
      {{ content.user_picture }}
    </div>
    {# {{ content }} #}
  {% endif %}

  <div class="profile__content">
    <p>{{ 'Je account bewerken kan het tabblad bewerken' }} </p>
    <p>{{ 'Inhoud toevoegen/bewerken via bovenste admin menu balk' }}</p>
    <p>{{ 'Onder \'Snelkoppelingen\' een aantal linken om de site te beheren' }}</p>
    <p> <a href="{{ base_path }}logout">Uitloggen</a></p>
  </div>

</div>
 
</article>
